body {
    display: flex;
    height: 100vh;
    width: auto;
}

.frame {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 5px solid red;
    box-sizing: content-box;
    margin: auto;
}