body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
}

.frame {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 5px solid red;
    box-sizing: content-box;
    margin: auto;
}

.size-changer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    justify-content: center;
    width: 300px;
}